{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Tutorials</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'sessions' session.tutorial.group %}">{{session.tutorial.group}}</a></li>
  <li class="breadcrumb-item active">{{session.date}}</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Student ID</th>
        <th>Attendance</th>
      </tr>
    </thead>
	<tbody>
      {% for attendance in attendances %}
      <tr>
        <td>
          {{attendance.student.nusid}}
        </td>
        {% if not session.attendance_taken %}
          {{ attendance.rekog|default_if_none:""  }}
        {% endif %}
        {% if attendance.attended %}
          <td class="align-middle">1</td>
        {% else %}
          <td class="align-middle">0</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not session.uploaded %}
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit"><i class="icon-save"></i>Upload</button>
    </form>
  {% endif %}
{% endblock %}