{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Tutorials</a></li>
  <li class="breadcrumb-item active">{{group}}</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Session</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr>
        <td>
          <a href="{% url 'attlist' group session.date %}">{{ session.date }}</a>
        </td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-dark" href="{% url 'addsession' %}" role="button">Add Session</a>
{% endblock %}